
body,
html {
    width: 100%;
    height: 100%;
    position: relative;
}

.color-pale {
    color: #2099A0;
}

.color-gray {
    color: gray;
}

.color-red {
    color: #9F1522;
}

.top-navbar {
    background: #9F1522;
    height: 50px;
}

.btn-primary-red {
    background: #9f1522 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-red:hover {
    background: #ca2131 !important;
}

.btn-primary-red:focus {
    box-shadow: none;
}

.btn-primary-fb {
    background: #4267B2 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-fb:hover {
    background: #3F51B5 !important;
}

.btn-primary-fb:focus {
    box-shadow: none;
}

.btn-primary-google {
    background: #0F9D58 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-google:hover {
    background: #33b679 !important;
}

.btn-primary-google:focus {
    box-shadow: none;
}

.btn-link {
    text-decoration: none !important;
}

.btn-link:hover {
    color: #bebebe !important;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    height: 30px;
    padding: 0;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-outline-white:hover {
    background: #ca2131;
    color: #fff;
}

.btn-outline-white:focus {
    box-shadow: none !important;
}

.btn-outline-red {
    color: #9F1522;
    border-color: #9F1522;
    border-radius: 0;
}

.btn-outline-red:hover {
    background: #9F1522;
    color: #fff;
}

.btn-outline-red:focus {
    box-shadow: none !important;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-light {
    background: #fff !important;
}

.bg-red {
    background: #DF2B2C !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #9F1522 !important;
}

.bg-header-v1 {
    background-image: url(../images/girl-holding-pencil-while-looking-at-imac-4144223.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 85%;
}

.bg-header-v2 {
    background-image: url(../images/photo-of-person-reading-1928151.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 85%;
}

.header-wrapper {
    height: 70%;
}

.bg-header-v3 {
    background: #9F1522;
    height: 400px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


@media only screen and (max-width: 600px) {
    .bg-header-v3 {
        height: 100%;
    }
}

.search-course-wrapper {
    background: #d9d9d9;
    padding: 1.25em;
    min-height: 100px;
}

.search-course-wrapper-white {
    background: transparent;
    padding-top: 1.25em;
    min-height: 100px;
}

.search-course-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-course-input {
    width: 85%;
    border: 1px solid #e8e8e8;
    /* margin: auto; */
    padding: 10px;
}

@media only screen and (max-width : 600px) {
    .search-course-input {
        height: 50%;
        width: 100%;
    }

    .search-course-wrapper {
        min-height: 0;
    }

    .search-icon {
        top: 10 !important;
        right: 5 !important;
        font-size: 20px !important;
    }
}

.search-course-input-white {
    width: 100%;
    height: 8vh;
    border: 1px solid #e8e8e8;
    /* margin: auto; */
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .search-course-input-white {
        height: 50%;
    }

    .search-icon-white {
        position: absolute;
        right: 2%;
        top: 25% !important;
        color: #CDCDCD;
        font-size: 20px !important;
    }
}

.search-course-input:focus {
    border-color: #9f1522;
    outline: none;
}

.search-course-input-white:focus {
    border-color: #9f1522;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 9%;
    top: 15;
    color: #CDCDCD;
    font-size: 30px;
}


.search-icon-white {
    position: absolute;
    right: 2%;
    top: 15;
    color: #CDCDCD;
    font-size: 30px;
}

.pentagon-shape {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 50%;
    box-sizing: content-box;
    border-width: 550px 0px 0 400px;
    border-style: solid;
    border-color: #DF2B2C transparent;
}

.card {
    box-shadow: 0 6px 20px rgba(17, 26, 104, .2);
}

.h-card {
    height: 250px !important;
}

.h-img-200 {
    height: 200px !important;
}

.caret {
    display: flex;
    align-items: center;
}

.caret-title {
    font-size: 30px;
    border-bottom: 5px solid #9F1522;
}

.card-subtitle>i {
    color: #9f1522 !important;
}

.box {
    width: 100%;
    height: 100%;
    background: #DF2B2C;
    -webkit-clip-path: polygon(40% 30%, 100% 1%, 100% 100%, 40% 70%, 35% 55%);
    clip-path: polygon(40% 30%, 100% 1%, 100% 100%, 40% 70%, 35% 55%);
    position: absolute;
    right: 0;
    top: 400px;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
        height: 100%;
        background: #DF2B2C;
        clip-path: polygon(65% 50%, 100% 100%, 100% 0);
        position: absolute;
        right: 0;
        top: 400px;
        z-index: -1;
    }
}

.card-download {
    margin-left: 10px;
}

.card-download>.btn-link>i {
    color: #CDCDCD;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-download>.btn-link>span {
    color: #000;
}

.card-download>.btn-link:hover>span {
    color: gray;
}

.card-download-title {
    color: #9F1522;
    padding-left: 10px;
}

.card-download-border {
    width: 1px;
    height: 100;
    border: 1px solid #e8e8e8;
}

@media only screen and (max-width: 600px) {
    .card-download-border {
        display: none;
    }
}

.container-mt-80 {
    margin-top: 8.5%;
}

.h-70 {
    height: 70%;
}

.no-radius {
    border-radius: 0 !important;
}

.divider {
    border: 1px solid #fff;
}

@media only screen and (max-width: 1024px) {
    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 300px;
        margin: auto;
        margin-top: 25px !important;
    }
}

.nav-tabs .nav-link {
    color: #fff;
    font-size: 12px;
}

.fade-container {
    max-width: 900px;
    margin: auto;
    position: relative;
    line-height: 1.3;
    border: 1px solid #cdcdcd;
    padding: 10px;
}

.fade-content {
    max-height: 220px;
    overflow: hidden;
}

.fade-content.full {
    max-height: none;
}

.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 170px, #edeff0 200px);
    background: linear-gradient(to bottom, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 10px, #fff 200px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 230px;
    padding-top: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
}

.fade-anchor-text {
    /* background: #edeff0; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 9pt 9pt 0 0;
    color: #000;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.3)), url(../images/apple-blank-business-computer-442574.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 325px;
    width: 100%;
    height: 200px;
}

.avatar-wrapper {
    margin-top: -18%;
}

.avatar {
    background: url(../images/logo-telkom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #fff;
}

.flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.checked {
    color: orange;
}

.progress {
    border-radius: 0 !important;
}

.bg-danger {
    background-color: #9F1522 !important;
}

.tabs-rating>.nav-item>.nav-link.active {
    background: transparent;
    border-bottom: 3px solid #9F1522;
    color: #000;
    border-radius: 0;
}

.tabs-rating>.nav-item>.nav-link {
    background: transparent;
    color: #000;
    border-radius: 0;
}

.nav-item>.nav-link.active>i {
    color: #000 !important;
    border-radius: 0;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.feedback-avatar>img {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
}


.btn-link-gray {
    color: gray;
    text-decoration: none !important;
    font-size: 12px;
    background: none;
    border: none;
    margin-left: -5px;
}

.btn-link-gray:hover {
    color: #bebebe !important;
}

.btn-link-gray:focus {
    outline: none;
}

.btn-link-red {
    color: #9F1522;
    text-decoration: none !important;
    font-size: 12px;
    background: none;
    border: none;
}

.btn-link-red:hover {
    color: #ca2131 !important;
}

.btn-link-red:focus {
    outline: none;
}

.btn-link-black {
    color: #525252;
    text-decoration: none !important;
    font-size: 20px;
    background: none;
    border: none;
}

.btn-link-black:hover {
    color: #000 !important;
}

.btn-link-black:focus {
    outline: none;
}

.video-wrapper {
    border: 1px solid #ececec;
    padding: 10px;
    position: relative;
}

.video-wrapper>img {
    width: 100%;
    min-height: 200px;
    margin: auto;
    display: block;
    filter: brightness(70%);
}

.video-wrapper-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* unnecessary styling properties */
    max-width: 50%;
    text-align: center;

    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 20;
}

.video-wrapper-btn:focus {
    outline: none;
}

.filter-exam {
    background: #DF2B2C;
    padding: 20px;
}

.btn-answer {
    width: 100%;
    border: none;
    background: white;
    border: 1px solid #cdcdcd;
    padding: 20;
}

.btn-answer:focus {
    outline: none;
}

.btn-answer:active {
    background: #DF2B2C;
    color: #fff;
}

.active-answer {
    background: #DF2B2C;
    color: #fff;
}

.login-wrapper {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, 70%); */
    /* max-width: 50%; */
    /* text-align: center; */
    background: none;
    border: none;
    /* color: #fff; */
    /* font-size: 20px; */
    border: 1px solid #9E9E9E;
    padding: 20;
    background: #fff;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .login-wrapper {
        width: 80%;
    }
}

.terms {
    border: 1px solid #9E9E9E;
    border-radius: 0;
}



@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .container-absolute {
        position: absolute;
        top: 118px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width : 1024px) and (max-width: 1440px) {
    .container-absolute {
        position: absolute;
        top: 118px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width : 1440px) {
    .container-absolute {
        position: absolute;
        top: 120px;
        width: 100%;
        max-width: 100%;
    }
}

.owl-carousel .owl-item img {
    width: 30%;
}

.elipsis {
    display: block;
    display: -webkit-box;
    max-width: 90%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elipsis-title {
    display: block;
    display: -webkit-box;
    max-width: 90%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .elipsis {
        -webkit-line-clamp: 1;
    }
}

.h-170 {
    height: 200px;
    max-height: 200px;
}

.h-140 {
    height: 140px;
    max-height: 140px;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide {
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.card-header {
    background-color: #fff;
}

.collapse {
    background-color: rgba(0, 0, 0, .03);
}

.hover-red:hover {
    color: #9F1522 !important;
}

.navbar-collapse {
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .row-reverse {
        flex-direction: column-reverse;
    }
}


@media only screen and (max-width: 600px) {
    .size-mobile {
        margin-top: 100px;
        display: block;
        margin-bottom: 10px;
    }

    .size-desktop {
        display: none;
    }

    .title-mobile {
        display: block;
    }

    .title-desktop {
        display: none;
    }

    .sub-card {
        color: #9F1522 !important;
        text-align: center;
    }

    .divider {
        border: 1px solid #9F1522;
    }

    .nav-tabs .nav-link {
        color: #9F1522;
    }
}

@media only screen and (min-width: 600px) {
    .size-mobile {
        display: none;
    }

    .size-desktop {
        display: block;
    }

    .title-desktop {
        display: block;
    }

    .title-mobile {
        display: none;
    }

    .sub-card {
        color: #fff !important;
    }
}

#loading_overlay{
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

.category_card{
    cursor: pointer;
}