.slider-nav .slick-prev:before{
    font-family: 'Font Awesome 5 Free';
    content: "\f053";
    font-weight: 900;
    color: black;
    background-color:white!important;
    padding: 20% 35% 20% 35%;
    border-radius: 50%;
    border:2px solid black;
    font-size:14px;
}

.slider-nav .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f054";
    font-weight: 900;
    color: black;
    background-color:white!important;
    padding: 20% 35% 20% 35%;
    border-radius: 50%;
    border:2px solid black;
    font-size:14px;
}

.slider-category .slick-prev:before{
    font-family: 'Font Awesome 5 Free';
    content:"\f0d9";
    font-weight: 900;
    color: black;
    background-color:white!important;
    padding: 10.5% 44.8% 10.5% 45.2%;
    border:1px solid black;
}

.slider-category .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f0da";
    font-weight: 900;
    color: black;
    background-color:white!important;
    padding: 10.5% 45.2% 10.5% 44.8%;
    border:1px solid black;
}

.slider-for{
    width: 100%;
    margin: 0 auto 0;
    overflow: hidden;
}
img{
    width: 100%;
    min-height: 100%;
}
.slider-nav{
    width: 90%;
    margin: auto;
}
.slider-nav .item{
    margin:10px;
}
.slider-category{
    width: 93.5%;
    margin: auto;
}
.slider-category .item{
    margin:10px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
}
.slick-prev{
    left: -35px;
}
.slick-prev::before{
    left: -35px;
}
.slick-next{
    right: -30px;
}
.slick-next::before{
    right: -30px;
}

.slick-slide{
    outline: none;
}


h5 .crop-1{
    margin:0;
}
@media (max-width: 767px) {
    .slick-content-header{
        /*height:45vh!important;*/
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        /*height:12.5vh!important;*/
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        /*height: 45vh   !important;*/
    }
}

@media (min-width: 768px) {
    .slick-content-header{
        height:45vh!important;
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        height:12.5vh!important;
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        /*height: 45vh   !important;*/
    }
}

@media (min-width: 1024px) {
    .slick-content-header{
        height:55vh!important;
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        height:14.5vh!important;
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: 55vh   !important;
    }
}

@media (min-width: 1280px) {
    .slick-content-header{
        height:55vh!important;
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        height:12.5vh!important;
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: 55vh   !important;
    }
}

@media (min-width: 1366px) {
    .slick-content-header{
        height:55vh!important;
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        height:14.5vh!important;
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: 55vh   !important;
    }
}

@media (min-width: 1440px) {
    .slick-content-header{
        height:50vh!important;
        object-fit: cover!important;
    }

    .slick-thumbnail-header{
        height:12.5vh!important;
        object-fit: cover!important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: 50vh   !important;
    }
}

@media (min-width: 1920px) {
    .slick-content-header {
        height: 40vh !important;
        object-fit: cover !important;
    }

    iframe {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: 40vh   !important;
    }

    .slick-thumbnail-header{
        height:11.5vh!important;
        object-fit: cover!important;
    }
}

.slick-content-header img{
    height: 100%;
    object-fit: cover;
}

.slick-thumbnail-header img {
    height: 100%;
    object-fit: cover;
}
