/* Show it is fixed to the top */
.nav-bar-padding{
    padding-top: 59px;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img{
    width: 100%;
    height: 100vh;
    min-height: auto;
}

.bg-red {
    background-color: #df2b2b !important;
}

.img-new-course {
    border-radius: 0!important;
}

.content-new-course {
    background-color: #dee2e6;
}

.profile-about2 {
    float: none;
    display: table-cell;
    vertical-align: bottom;
    border: 3px solid pink;
}

@media (min-width: 1200px) {
    .pos-bottom {
        position: absolute;
        bottom: 0;
    }

    .submenu-top-content {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .submenu-top-content a {
        color: #ffffff;
    }
}

@media (min-width: 992px) {
    .pos-bottom {
        position: absolute;
        bottom: 0;
    }

    .submenu-top-content {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .submenu-top-content a {
        color: #ffffff;
    }
}


@media (min-width: 768px) {
    .pos-bottom {
        position: absolute;
        bottom: 0;
    }

    .submenu-top-content {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .submenu-top-content a {
        color: #ffffff;
    }

    
}

@media (max-width: 767px) {
    .h1 {
        font-size:1.5rem;
    }

    .btn-danger {
        padding-left:10px !important;
        padding-right:10px !important;
    }

    .btn-container {
        font-size:0.5rem;
    }

    .submenu-top-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .submenu-top-content a {
        color: #ffffff;
    }
    .mtm-50{
        margin-top:50px !important;
    }
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 30px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
    }
}

.v-align-middle {
    margin: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    border-radius: 0px;
}


/* Rounded pill classes for horizontal sides */

.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}


/* Another classes to use */

.rounded-t-l-0 {
    border-top-left-radius: 0 !important;
}

.rounded-t-r-0 {
    border-top-right-radius: 0 !important;
}

.rounded-b-l-0 {
    border-bottom-left-radius: 0 !important;
}

.rounded-b-r-0 {
    border-bottom-right-radius: 0 !important;
}

.rounded-x-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-x-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rate {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    font-size: xx-large;
}

.rate li {
    float: left;
    padding: 10px;
}

.rate li a {
    display: block;
    text-align: center;
    padding: 24px;
    text-decoration: none;
    font-size: large;
}

.rate li a:hover {
    color: #eeff05;
}

.rate li i:hover {
    color: #eeff05;
}

.featured-article {
    position: relative;
}

.featured-article .block-title {
    /* Position & Box Model */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: .5em;
    color: #fff;
}

.featured-article .block-title h2 {
    margin: 0;
}

.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

.by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn-search {
    width: 5rem;
}

/*.news-detail {*/
    /*margin-top: 10rem !important;*/
/*}*/

.news-content {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.hyperlink {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.hyperlink i {
    padding: 5px;
}

.hyperlink a{
    color:#212529;
    opacity: 0.5;
}

.hyperlink a:hover {
    color:#212529;
    opacity: 1;
    cursor: pointer;
    text-decoration: none!important;
}

.submenu-top {
    background-color: #BDBABA;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: small;
    color: #ffffff;
}

.footer-dark{
    background-color: #20232e;
}

.text-link-footer a{
    color: #f8f9fa;
}

.text-link-footer a:hover{
    color: #cccccc;
    text-decoration: none!important;
}

.event .image{
    overflow:hidden;
    height:300px;
    position:relative
}

.event .image img{
    width: 100%;
    height:100%;
}

.event .image .overlay{
    background-image:-webkit-linear-gradient(90deg, #000 0%, rgba(0,0,0,0.08) 92%, rgba(53,39,60,0.03) 97%, rgba(105,78,119,0) 100%);
    opacity:0.902;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:30%;
    padding:5px 30px;
    color:#fff
}

.event .image .overlay strong{
    font-size:3rem
}

.event .image .overlay span{
    font-size:1.3rem
}

.event .text{
    background:#f5f5f5;
    padding:20px;
    height:100%
}

.event .text p{
    font-size:0.85rem
}

@media (max-width: 991px){
    .event{
        margin-bottom:30px
    }

    .event .image img{
        width:100%;
        height:auto
    }
}

@media (max-width: 767px){
    .events .image{
        height:210px
    }

    .events .image img{
        width:100%;
        height:auto
    }
}

@media (max-width: 1200px){
    .event{
        margin-bottom:30px
    }

    .event .image{
        width:100%;
        height:100%;
    }
}

.header-wrapper {
    height: 70%;
}

.img-thumbnail-custom {
    background-color: #fff;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

#news_detail p img{
    width: 100% !important;
    height: auto !important;
}

.note-video-clip{
    width: 100% !important;
    height: 450px;
}

.hide{
    visibility: hidden!important;
}

body{
    /* background-color: white; */
    /* width: 100%;
    height: 100%;
    position: relative; */
}

#loader{
    margin:auto;
}

@keyframes ldio-nr4fjypgnsg-1 {
    0% { top: 19.2px; height: 89.60000000000001px }
    50% { top: 41.6px; height: 44.800000000000004px }
    100% { top: 41.6px; height: 44.800000000000004px }
}
@keyframes ldio-nr4fjypgnsg-2 {
    0% { top: 24.8px; height: 78.4px }
    50% { top: 41.6px; height: 44.800000000000004px }
    100% { top: 41.6px; height: 44.800000000000004px }
}
@keyframes ldio-nr4fjypgnsg-3 {
    0% { top: 30.400000000000002px; height: 67.2px }
    50% { top: 41.6px; height: 44.800000000000004px }
    100% { top: 41.6px; height: 44.800000000000004px }
}
.ldio-nr4fjypgnsg div { position: absolute; width: 16.64px }.ldio-nr4fjypgnsg div:nth-child(1) {
                                                                left: 23.68px;
                                                                background: #e91629;
                                                                animation: ldio-nr4fjypgnsg-1 0.819672131147541s cubic-bezier(0,0.5,0.5,1) infinite;
                                                                animation-delay: -0.1639344262295082s
                                                            }
.ldio-nr4fjypgnsg div:nth-child(2) {
    left: 55.68px;
    background: rgba(233, 22, 41, 0.6908064516129032);
    animation: ldio-nr4fjypgnsg-2 0.819672131147541s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.0819672131147541s
}
.ldio-nr4fjypgnsg div:nth-child(3) {
    left: 87.68px;
    background: rgba(233, 22, 41, 0.3301612903225807);
    animation: ldio-nr4fjypgnsg-3 0.819672131147541s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-ea1zitzrksm {
    width: 128px;
    height: 128px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-nr4fjypgnsg {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-nr4fjypgnsg div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.content-list {
    /* height: 100%; */
    padding: 20px 20px 10px;
    background-color: #FFFFFF!important;
    cursor: pointer;
    transition: transform .2s;
}
.content-list:hover {
    transform: scale(1.1);
}

.btn-facebook{
    text-decoration: none;
    color: #0b78fa;
}
.btn-facebook:hover{
    background-color: #0b78fa;
    color: #FFFFFF!important;
    text-decoration: none;
}

.btn-google{
    text-decoration: none;
    color: #df2b2b;
}
.btn-google:hover{
    background-color: #df2b2b;
    color: #FFFFFF!important;
    text-decoration: none;
}

label.error-field{
    color:red!important;
    margin-top:5px;
    font-size: small;
}

.bg-header-v1 {
    background-image: url(../images/girl-holding-pencil-while-looking-at-imac-4144223.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.bg-header-v2 {
    background-image: url(../images/photo-of-person-reading-1928151.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}
.bg-header-v2 {
    background-image: url(../images/photo-of-person-reading-1928151.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}
.bg-header-v2 {
    background-image: url(../images/photo-of-person-reading-1928151.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.bg-header-course {
    background-image: url(../images/banner-1v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.bg-header-news {
    background-image: url(../images/banner-2v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}
.bg-header-cart {
    background-image: url(../images/banner-5v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}
.bg-header-checkout {
    background-image: url(../images/banner-6v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.bg-header-download {
    background-image: url(../images/banner-3v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.bg-header-tutorial {
    background-image: url(../images/banner-4v2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.search-course-wrapper {
    background: #d9d9d9;
    padding: 1.25em;
    min-height: 100px;
}

.search-course-wrapper-white {
    background: transparent;
    padding-top: 1.25em;
    min-height: 100px;
}

.search-course-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-course-input {
    width: 100%;
    height: 8vh;
    border: 1px solid #e8e8e8;
    /* margin: auto; */
    padding: 10px;
}

.search-course-input::placeholder {
    color:#d9d9d9;
}

@media only screen and (max-width : 600px) {
    .search-course-input {
        height: 50%;
        width: 100%;
    }

    .search-course-wrapper {
        min-height: 0;
    }

    .search-icon {
        top: 16% !important;
        right: 8% !important;
        font-size: 20px !important;
    }
}

.search-course-input-white {
    width: 100%;
    height: 8vh;
    border: 1px solid #e8e8e8;
    /* margin: auto; */
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .search-course-input-white {
        height: 50%;
    }

    .search-icon-white {
        position: absolute;
        right: 2%;
        top: 16% !important;
        color: #CDCDCD;
        font-size: 20px !important;
    }
    .bg-header-tutorial {
        min-height: 15vh !important;
    }
    .bg-header-news {
        min-height: 15vh !important;
    }
    .bg-header-course {
        min-height: 15vh !important;
    }
    .bg-header-download {
        min-height: 15vh !important;
    }
}

.search-course-input:focus {
    border-color: #9f1522;
    outline: none;
}

.search-course-input-white:focus {
    border-color: #9f1522;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 4%;
    top: 20%;
    color: #CDCDCD;
    font-size: 30px;
}


.search-icon-white {
    position: absolute;
    right: 2%;
    top: 10%;
    color: #CDCDCD;
    font-size: 30px;
}

.box {
    width: 100%;
    height: 100%;
    background: #DF2B2C;
    -webkit-clip-path: polygon(40% 30%, 100% 1%, 100% 100%, 40% 70%, 35% 55%);
    clip-path: polygon(40% 30%, 100% 1%, 100% 100%, 40% 70%, 35% 55%);
    position: absolute;
    right: 0;
    top: 400px;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
        height: 100%;
        background: #DF2B2C;
        clip-path: polygon(65% 50%, 100% 100%, 100% 0);
        position: absolute;
        right: 0;
        top: 400px;
        z-index: -1;
    }
}

.caret {
    display: flex;
    align-items: center;
}

.caret-title {
    font-size: 30px;
    border-bottom: 5px solid #9F1522;
}

.w-106 {
    width: 110px !important;
}


.card-download>.btn-link>i {
    color: #FFF;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-download>.btn-link>span {
    color: #FFF;
}

.card-download>.btn-link:hover>span {
    color: gray;
}

h5.card-download-title{
    font-weight: bold;
}

.card-download-title {
    color: black;
    padding-left: 10px;
}

.card-download-border {
    width: 1px;
    height: 100;
    border: 1px solid #e8e8e8;
}

@media only screen and (max-width: 600px) {
    .card-download-border {
        display: none;
    }
}

.h-img-200 {
    height: 200px !important;
}

.card-subtitle>i {
    color: #9f1522 !important;
}

.color-pale {
    color: #2099A0;
}

.color-gray {
    color: gray;
}

.color-red {
    color: #9F1522;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

@media only screen and (min-width: 600px) {
    .fs-md-12 {
        font-size: 12px !important;
    }
}

.fs-15 {
    font-size: 15px !important;
}

#loading_overlay{
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

.owl-carousel .owl-item img {
    width: 30%;
}

.elipsis {
    display: block;
    display: -webkit-box;
    max-width: 90%;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elipsis-title {
    display: block;
    display: -webkit-box;
    max-width: 90%;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lc-4 {
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.lc-5 {
    line-clamp: 5;
    -webkit-line-clamp: 5;
}

.lc-6 {
    line-clamp: 6;
    -webkit-line-clamp: 6;
}

@media only screen and (max-width: 600px) {
    .elipsis {
        line-clamp: 1;
        -webkit-line-clamp: 1;
    }
}

.h-170 {
    height: 200px;
    max-height: 200px;
}

.h-140 {
    height: 140px;
    max-height: 140px;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide {
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.category_card{
    cursor: pointer;
}

.h-70 {
    height: 70%;
}

.pentagon-shape {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 50%;
    box-sizing: content-box;
    border-width: 550px 0px 0 400px;
    border-style: solid;
    border-color: #DF2B2C transparent;
}

.btn-danger {
    background-color: darkred !important;
    border-color: darkred !important;
    padding-left:20px;
    padding-right:20px;
}

.owl-stage {
    padding-left:0px !important;
}

.owl-prev{
    float: left;
    margin-top: -140px !important;
    margin-left:-35px !important;
}

.owl-next{
    float: right;
    margin-top: -140px !important;
    margin-right:-35px !important;
}

.owl-prev .fas, .owl-next .fas{
    font-family: 'Font Awesome 5 Free';
    content: "\f0d9";
    font-weight: 900;
    color: black !important;
    background-color: white !important;
    padding: 30% !important;
    border: 1px solid #ccc !important;
    border-radius:0px !important;
  }

  .owl-dots{
    display:none !important;
  }

  .card-title{
    font-weight: bold;
    min-height: 50px;
    max-height: 50px;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.form-control{
    border-radius:0px;
}

.login-wrapper {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, 70%); */
    /* max-width: 50%; */
    /* text-align: center; */
    background: none;
    border: none;
    /* color: #fff; */
    /* font-size: 20px; */
    border: 1px solid #9E9E9E;
    padding: 20;
    background: #fff;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .login-wrapper {
        width: 80%;
    }
}

.terms {
    border: 1px solid #CCCCCC;
    border-radius: 0;
}

.btn-primary-red {
    background: #9f1522 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-red:hover {
    background: #ca2131 !important;
}

.btn-primary-red:focus {
    box-shadow: none;
}

.btn-primary-fb {
    background: #4267B2 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-fb:hover {
    background: #3F51B5 !important;
}

.btn-primary-fb:focus {
    box-shadow: none;
}

.btn-primary-google {
    background: #0F9D58 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.btn-primary-google:hover {
    background: #33b679 !important;
}

.btn-primary-google:focus {
    box-shadow: none;
}

.btn-link {
    text-decoration: none !important;
}

.btn-link:hover {
    color: #bebebe !important;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    height: 30px;
    padding: 0;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-outline-white:hover {
    background: #ca2131;
    color: #fff;
}

.btn-outline-white:focus {
    box-shadow: none !important;
}

.btn-outline-red {
    color: #9F1522;
    border-color: #9F1522;
    border-radius: 0;
}

.btn-outline-red:hover {
    background: #9F1522;
    color: #fff;
}

.btn-outline-red:focus {
    box-shadow: none !important;
}

.btn-link-gray {
    color: gray;
    text-decoration: none !important;
    font-size: 12px;
    background: none;
    border: none;
    margin-left: -5px;
}

.btn-link-gray:hover {
    color: #bebebe !important;
}

.btn-link-gray:focus {
    outline: none;
    box-shadow: none;
}

.btn-link-red {
    color: #9F1522;
    text-decoration: none !important;
    font-size: 12px;
    background: none;
    border: none;
}

.btn-link-red:hover {
    color: #ca2131 !important;
}

.btn-link-red:focus {
    outline: none;
}

.btn-link-black {
    color: #525252;
    text-decoration: none !important;
    font-size: 20px;
    background: none;
    border: none;
}

.btn-link-black:hover {
    color: #000 !important;
}

.btn-link-black:focus {
    outline: none;
}

.nav-tabs .nav-link {
    color: #fff;
    font-size: 12px;
}

.divider {
    border: 1px solid #fff;
}

.img-gradient {
    min-width: 325px;
    width: 100%;
    height: 200px;
}

.avatar-wrapper {
    margin-top: -18%;
}

.avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #fff;
}

.flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.container-mt-80 {
    margin-top: 8%;
}

.no-radius {
    border-radius: 0 !important;
}

.tabs-rating>.nav-item>.nav-link.active {
    background: transparent;
    border-bottom: 3px solid #9F1522;
    color: #000;
    border-radius: 0;
}

.tabs-rating>.nav-item>.nav-link {
    background: transparent;
    color: #000;
    border-radius: 0;
}

.nav-item>.nav-link.active>i {
    color: #000 !important;
    border-radius: 0;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.feedback-avatar>img {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
}

.bg-header-v3 {
    background: #9F1522;
    height: 276px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


@media only screen and (max-width: 600px) {
    .bg-header-v3 {
        height: 310px;
    }

}

@media only screen and (max-width: 1024px) {
    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 300px;
        margin: auto;
        margin-top: 25px !important;
    }

    .bg-header-tutorial {
        min-height: 20vh;
    }
    .bg-header-news {
        min-height: 20vh;
    }
    .bg-header-course {
        min-height: 20vh;
    }
    .bg-header-download {
        min-height: 20vh;
    }
}

.card {
    box-shadow: 0 6px 20px rgba(17, 26, 104, .2);
}

.fade-container {
    max-width: 900px;
    margin: auto;
    position: relative;
    line-height: 1.3;
    border: 1px solid #cdcdcd;
    padding: 10px;
}

.fade-content {
    max-height: 220px;
    overflow: hidden;
}

.fade-content.full {
    max-height: none;
}

.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 170px, #edeff0 200px);
    background: linear-gradient(to bottom, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 10px, #fff 200px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 230px;
    padding-top: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
}

.fade-anchor-text {
    /* background: #edeff0; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 9pt 9pt 0 0;
    color: #000;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checked {
    color: orange;
}

.progress {
    border-radius: 0 !important;
}

.bg-danger {
    background-color: #9F1522 !important;
}

.video-wrapper {
    border: 1px solid #ececec;
    padding: 10px;
    position: relative;
}

.video-wrapper>img {
    width: 100%;
    min-height: 200px;
    margin: auto;
    display: block;
    filter: brightness(70%);
}

.video-wrapper-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* unnecessary styling properties */
    max-width: 50%;
    text-align: center;

    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 20;
}

.video-wrapper-btn:focus {
    outline: none;
}

.filter-exam {
    background: #DF2B2C;
    padding: 20px;
}

.btn-answer {
    width: 100%;
    height:100%;
    border: none;
    background: white;
    border: 1px solid #cdcdcd;
    padding: 20px;
}

.btn-answer:focus {
    outline: none;
}


.active-answer {
    background: #DF2B2C;
    color: #fff;
}

.bg-danger {
    background-color: #9F1522 !important;
}

.card-header {
    background-color: #fff;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .container-absolute {
        position: absolute;
        top: 0px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width : 1024px) and (max-width: 1440px) {
    .container-absolute {
        position: absolute;
        top: 0px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width : 1440px) {
    .container-absolute {
        position: absolute;
        top: 0px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .size-mobile {
        margin-top: 0px;
        display: block;
        margin-bottom: 10px;
    }

    .size-desktop {
        display: none;
    }

    .title-mobile {
        display: block;
    }

    .title-desktop {
        display: none;
    }

    .sub-card {
        color: #9F1522 !important;
        text-align: center;
    }

    .divider {
        border: 1px solid #9F1522;
    }

    .nav-tabs .nav-link {
        color: #9F1522;
    }


}

@media only screen and (min-width: 600px) {
    .size-mobile {
        display: none;
    }

    .size-desktop {
        display: block;

    }

    .title-desktop {
        position: relative;
        min-height: 90px;
        max-height: 90px;
        
        overflow: hidden;
    }

    .title-desktop span{
        position: absolute;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        bottom:0px;
        width: 100%;
    }

    .title-mobile {
        display: none;
    }

    .sub-card {
        color: #fff !important;
    }
}

h2 {
    font-size: 1rem !important;
}

.dn-important{
    display: none !important;
}

#course_video_filter{
    max-width: 300px;
}

.collapse-item span{
    float:left;
}

.collapse-item p {
    margin:0px;
    text-align: left;
}

#checkout_accordion::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f078";
    font-weight: 900;
    float: right;
}

#checkout_accordion.collapsed::before {
    content: "\f054";
}

.secret {
    display: none;
}

.content-header .slick-slide img{
    /*width:auto;*/
    /* height: 0px !important; */
    max-height: "200px !important";
}

.content-header .slick-initialized .slick-slide {
    overflow:hidden;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.embed-responsive{
    position: initial;
}

.font-sm{
    font-size:0.7rem !important;
}

.slider-nav .slick-current {
    border-bottom:5px solid darkred;
}

.book-box{
    background-color:gray;
    padding-top:15px;
    padding-right:30px;
    padding-bottom:0px;
    border-radius:20px 20px 0px 0px;
}
.book-container{
    background-image: linear-gradient(to right, white , white, #e9e9e9);
    padding:20px;
    border-radius:15px 15px 15px 0px;
    min-height: 400px;
    position:relative;
    color:#979797;
}

.book-box-title{
    background-color:gray;
    font-size:15px;
    font-weight: bold;
    color:white;
    border-radius:20px 0px 20px 20px;
    padding:12px 20px 12px 20px;
}
.blue-diagonal{
    background:#2776B8;
    background: linear-gradient(to right bottom, #37a7d5 80%, #2776B8 20%);
}
.blue-diagonal-title{
    background:#2776B8;
}
.green-diagonal{
    background:#28ad98;
    background: linear-gradient(to right bottom, #35c8b8 80%, #28ad98 20%);
}
.green-diagonal-title{
    background:#28ad98;
}
.yellow-diagonal{
    background:#ffd217;
    background: linear-gradient(to right bottom, #f9e445 80%, #ffd217 20%);
}
.yellow-diagonal-title{
    background:#ffd217;
}
.red-diagonal{
    background:#ef3b54;
    background: linear-gradient(to right bottom, #F7587E 80%, #ef3b54 20%);
}
.red-diagonal-title{
    background:#ef3b54;
}
.book-accent{
    width:10px;
    height:200px;
    position:absolute;
    right:-10px;
    top:50%;
    transform: translateY(-50%);
    background-color:rgba(0,0,0,0.2);
    border-radius: 0px 20px 20px 0px; 
}
.bg-darkred{
    background:darkred;
}
.book-container a{
    height:75px;
    display:block;
    float:left;
    background-color:white;
    width:85%;
    font-weight: bold;
    margin-bottom:1rem;
    position: relative;
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: left;
 
}

.book-container a:after{
     content: "";
      position: absolute;
      right: -36px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 37px solid white;
      border-top: 37px solid transparent;
      border-bottom: 37px solid transparent;
}

@media (max-width: 420px) {
    .book-container a{
        font-size:10px !important;
    }

    .book-container a:after{
        border-left: 18px solid white;
        right: -18px;
    }
}

@media (max-width: 991px) {
    .book-container a{
        width:40%;
    }

    .book-container a:nth-child(even){
        margin-right:50px;
    }

    .book-container {
        min-height: 200px;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .book-container a{
        font-size:12px !important;
    }
}


.book-arrow{
    padding-left:40px;
    background-repeat:no-repeat;
    background-size:36px 60px;
    background-position-y: 6px;
    

}

.book-arrow-red{
    background-image:url('../images/red-arrow.png');
    color:#F7587E !important;
}

.book-arrow-blue{
    background-image:url('../images/blue-arrow.png');
    color:#37a7d5 !important;
}

.book-arrow-yellow{
    background-image:url('../images/yellow-arrow.png');
    color:#f9e445 !important;
}

.book-arrow-green{
    background-image:url('../images/green-arrow.png');
    color:#35c8b8 !important;
}

.book-content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.wash-out{
    color:#B3B3B3;
}

.text-primary {
    color:darkred !important;
}

.text-gray{
    color:#767171;
}

.text-black {
    color:black;
}

.text-bold{
    font-weight: bold;
}

.btn-xsm{
    padding: 0rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.ph-25{
    padding-left:25px !important;
    padding-right:25px !important;
}

.border-top-1{
    border-top: 1px solid #dee2e6!important;
}

.bg-light-gray{
    background-color:#F2F2F2;
}

.item_title{
    font-color:black;
    font-weight: bold;
}
