@font-face {
    font-family: Kunstler;
    src: url(../fonts/kunstler.ttf);
}

.datatable-image-cell {
    width: 100%;
}

.logo{
    width: 92px;
    height: auto;
}

table.kt-datatable__table thead th, table.kt-datatable__table thead td, table.kt-datatable__table tbody td {
  vertical-align: top !important;
}

/* .slick-next:before {
    font-size: 30px!important;
}

.slick-prev:before {
    font-size: 30px!important;
} */