{{< core/modal }}
    {{$title}} Survey {{/title}}
    {{$body}}{{/body}}
    {{$footer}}
        <div class="custom-control custom-checkbox mr-auto">
            <input type="checkbox" class="custom-control-input" id="not_show">
            <label class="custom-control-label" for="not_show">Don't show this again</label>
        </div>

        <button type="button" class="btn btn-primary" data-action="participate" id="btn-survey-participate">participate</button>
        <button type="button" class="btn btn-secondary" data-action="no" id="btn-survey-no">no</button>
    {{/footer}}
{{/ core/modal }}