<style>
.container-inline {
  display: inline-block !important;
  position: relative !important;
  padding-left: 35px !important;
  margin-bottom: 12px !important;
  cursor: pointer !important;
  font-size: 12px !important;
  user-select: none !important;;
}

/* Hide the browser's default checkbox */
.container-inline input {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  height: 0 !important;
  width: 0 !important;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 25px !important;
  width: 25px !important;
  background-color: #eee !important;   
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc !important;
}

/* When the checkbox is checked, add a blue background */
.container-inline input:checked ~ .checkmark {
  background-color: #2196F3 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

/* Show the checkmark when checked */
.container-inline input:checked ~ .checkmark:after {
  display: block !important;
}

/* Style the checkmark/indicator */
.container-inline .checkmark:after {
  left: 9px !important;
  top: 5px !important;
  width: 5px !important;
  height: 10px !important;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}
</style>